.soldier {
    z-index: 2;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 7vh;
    max-height: 60vh;
    display: flex;
    position: relative;
    zoom: 50%;
    padding-top: 4.5vh;
    display: flex;
}
@media (max-width:900px) {
    .soldier{
        flex-direction: column;
    }
}
/* .bf4__content-w {
    overflow: visible;
}
.w-tab-content {
    position: relative;
    overflow: hidden;
} */